<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecolink - Contato</title>
    <link rel="stylesheet" href="../css/contato.css">
</head>
<body>

    <header class="navbar">
        <div class="logo"><a href="../php/index.php">♻️ EcoLink</a></div>
        <nav>
            <ul>
                <li><a class="itens" href="../view/sobren.html">sobre</a></li>
                <li><a href="../php/login.php"><img class="img" src="../files/avatar_usuario.jpeg"></a></li>
            </ul>
        </nav>
    </header>

    <!-- MENSAGEM_AREA -->

  <section class="container">

    <div class="left">
      <div class="mail-box"></div>
    </div>

    <div class="contact-box">
      <h1>Contate-nos</h1>

      <div class="contact-content">

        <div class="form-area">
            <form method="post" action="">
                <label>Nome completo</label>
                <input type="text" name="nome">

                <label>Email</label>
                <input type="email" name="email">

                <label>Mensagem</label>
                <input type="password" name="mensagem" required>

                <button class="btn" type="submit">Enviar</button>
            </form>
        </div>


    </section>

        <footer class="footer">
        <div class="footer-top">
            <span class="logo">Ecolink</span>
            <div class="footer-links">
                <a href="../php/login.php">Login</a>
            </div>
            <div class="social-icons">
                <span>📸</span> <span>🔵</span> <span>🐦</span>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Ecolink. Todos os direitos reservados. | Política de Privacidade | Termos de Serviço</p>
        </div>
    </footer>

</body>
</html>
