<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>EcoLink - Eventos Ecológicos</title>
    <link rel="shortcut icon" href="../files\logo.jpeg" type="image/jpeg">
    <script src="../js/script.js"></script>
</head>
<body>

    <header>
        <div class="logo">
            <h2>♻️ EcoLink</h2>
        </div>
        <nav>
            <a class="itens" href="../view/sobren.html">Sobre</a>
            <a class="itens" href="../view/contato.html">Contato</a>
            <a href="../php/login.php"><img class="img" src="../files/avatar_usuario.jpeg"></a>
        </nav>
    </header>

    <section class="hero">
        <h1>Conecte-se com o Planeta</h1>
        <p>Participe de eventos, mutirões e workshops focados na preservação ambiental.</p>
    </section>

    <main class="container">
        <div class="search-container">
    <form action="/buscar" method="GET">
        <input type="search" placeholder="O que você procura?" name="q">
        <button type="submit">Pesquisar</button>
    </form>
</div>
    <h2 class="section-title">Próximos Eventos</h2>
    
    <!-- MENSAGEM_AREA -->
     
    <div class="carousel">
    
        <!-- Botão esquerda -->
        <button class="carousel-btn prev">&#10094;</button>

        <div class="carousel-track-container">
            <div class="carousel-track">

                

                <!-- CARDS -->


            </div>
        </div>

        <!-- Botão direita -->
        <button class="carousel-btn next">&#10095;</button>

    </div>
</main>

    <footer>
        <p>&copy; 2026 EcoAção - Juntos por um futuro sustentável. |  <a href="#">Inscrever-se</a> | <a href="#">Preferência de cookies</a> | <a href="#">Entre em contato</a> </p>
        <p></p>
    </footer>

</script>
</body>
</html>
