<!-- views/login.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema de Eventos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container2">
        <h2>Login</h2>
        <div class="subtitulo">Acesse sua conta</div>
        
        <!-- MENSAGEM_AREA -->
        
        <form method="POST" action="">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" name="senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        
        <div class="link">
            <a href="../php/login_criador.php">Sou criador</a><br><br>
            <a href="../php/cadastrar.php">não tem conta? - cadastrar com email</a>
        </div>
    </div>
</body>
</html>