<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css"> 
    <title>EcoLink - Login</title>
</head>
<body class="login-page">

    <header class="navbar">
        <div class="logo">
            <h2>♻️ EcoLink</h2>
        </div>
        <nav>
            <ul style="list-style: none;">
                <li><a href="index.html">Voltar ao Início</a></li>
            </ul>
        </nav>
    </header>

    <main class="login-container">
        <section class="login-card">
            <h1>Bem-vindo de volta!</h1>
            <p>Acesse sua conta para gerenciar seus eventos.</p>

            <form id="loginForm">
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="seu@email.com" required>
                </div>
                
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" placeholder="********" required>
                </div>

                <button type="submit" class="btn-login">Entrar</button>
                
                <div class="login-footer">
                    <a href="esqueci.html">Esqueceu a senha?</a>
                    <br> <span>Ainda não tem conta? <a href="cadastro.html">Cadastre-se</a></span>
                </div>
            </form>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-bottom">
            <p>&copy; 2026 EcoAção - Juntos por um futuro sustentável.</p>
        </div>
    </footer>

</body>
</html>
