<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>♻️ EcoLink - Sobre Nós</title>
    <link rel="stylesheet" href="../css/sobren.css">
</head>
<body>

    <header class="navbar">
        <div class="logo"><a href="../php/index.php">♻️ EcoLink</a></div>
        <nav>
            <ul>
                <li><a class="itens" href="../view/contato.html">Contate-nos</a></li>
                <li><a href="../php/login.php"><img class="img" src="../files/avatar_usuario.jpeg"></a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section class="about-section">
            <div class="image-box">
                <img src="../files/Workshop-Prevencao-e-Combate-a-Incendios-01.jpeg">
            </div>
            <div class="text-content">
                <h1>Sobre Nós</h1>
                <p>Nossa Missão: Conectar Propósitos a Ações Reais
Acreditamos que a conscientização é o primeiro passo, mas a ação é o que realmente transforma o mundo. Este portal nasceu do desejo de unir pessoas, coletivos e organizações que dedicam seu tempo e energia à regeneração do nosso ecossistema.

Mais do que uma agenda de eventos, somos uma ponte entre quem quer fazer a diferença e as iniciativas que já estão acontecendo. De mutirões de limpeza a workshops de permacultura e conferências sobre sustentabilidade, nosso objetivo é facilitar o acesso à informação e fortalecer o movimento ecológico local e global.</p>
                <p>O futuro é sustentável, e ele começa com um encontro.</p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-top">
            <span class="logo">Ecolink</span>
            <div class="footer-links">
                <a href="../php/login.php">Login</a>
            </div>
            <div class="social-icons">
                <span>📸</span> <span>🔵</span> <span>🐦</span>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Ecolink. Todos os direitos reservados. | Política de Privacidade | Termos de Serviço</p>
        </div>
    </footer>

</body>
</html>
